/* class selector */
/* background-color */
/* border */
/* padding long */
/* width */
.travel-form {
  background-color: #dcf1fc;
  border-style: dashed solid;
  border-color: #7faec7;
  border-width: medium;
  border-radius: 30px;
  padding-top: 10px;
  padding-bottom: 15px;
  padding-right: 10px;
  padding-left: 10px;
  width: 500px;
}

/* id selector */
#travel-choice {
  color: #5176b5;
}


/* universal selector */
/* 3rd party font */
* {
  font-family: 'Roboto Condensed', sans-serif;
  background-color: #dfeef2;
}

/* element selector */
/* color #FFFFFF */
a {
  color: #11A9CF;
}

/* attribute selector */
/* auto */
/* height */
/* static position */
img[src] {
  margin: 5% auto;
  height: 350px;
  width: auto;
  position: static;
}

/* pseudo-class selector */
/*color rgb(r,g,b) */
a:hover {
  color: rgb(1, 102, 133);
}

a:active {
  color: #ffd257;
}

/* selector list*/
/* color hsl(h,s,l) */
/* relative unit ch */
h2, h3, h4, h5, h6 { 
  font-family: 'Yusei Magic', sans-serif;
  color: hsl(214, 79%, 65%);
  font-size: 3ch;
}

/* absolute unit mm */
/* text-decoration */
h1 { 
  font-family: 'Yusei Magic', sans-serif;
  color: #0f4b70;
  font-size: 15mm; 
  text-decoration: underline dotted;
}

/* descendant combinator */
ol li {
  color: #73acbd;
}

/* child combinator */
/* long margin */
/* relative unit em and ex */
/* display block */
/* min-width */
figure > figcaption {
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 3em;
  margin-right: 3em;
  font-size: 4ex;
  color: #6e8099;
  display: block;
  min-width: 15%;
}

/* general sibling combinator */
/* color name */
/* display inline */
p ~ nav {
  color: coral;
  display: inline;
}

/* adjacent sibling combinator */
/* position: relative */
p + aside {
  color: #a6b5ba;
  position: relative;
  left: 40px;
}

/* combining two selectors */
/* short margin */
/* absolute unit px and cm */
/* padding short */
#pierre.quote {
  border-style: groove;
  border-color: #7faec7;
  border-width: medium;
  padding: 15px 15px 15px 15px;
  margin: 25px 25px 25px 25px;
  font-size: 0.5cm;
}

/* text-align */
/* max-width */
table {
  text-align: center;
  max-width: 55%;
  border-color: #7faec7;
  border-width: 5px;
}

.flex-container img[src]{
  height: 100px;
  width: auto;
}

/* flexbox */
.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: #bad2e0;
  height: 150px;
}

/* grid */
.grid-container {
  display: grid;
  grid-template-columns: 200px 200px 200px;
  grid-template-rows: 200px 200px 200px;
  grid-template areas:
    "words words ."
    "map map photo1"
    "map map photo2";
  grid-gap: 10px 10px;
}

.grid1 {
  grid-area: words;
}

.grid2 {
  grid-area: map;
}

.grid3 {
  grid-area: photo1;
}

.grid4 {
  grid-area: photo2;
}

/* media query */
@media only screen and (max-width: 600px) {
  body {
    background-color: #FFF0F5;
  }
}
