/* class selector */
/* background-color */
/* border-style */
.travel-form {
  background-color: #dcf1fc;
  border-style: dashed solid;
  border-color: #7faec7;
  border-width: medium;
  border-radius: 30px;
}

/* id selector */
#travel-choice {
}


/* universal selector */
/* color name */
* [lang^=en] {
  color: green;
}

/* element selector */
/* color #FFFFFF */
a {
  color: #11A9CF;
}

/* attribute selector */
img[src] {
}

/* pseudo-class selector */
/*color rgb(r,g,b) */
a:hover {
  color: rgb(1, 102, 133);
}

/* selector list*/
/* color hsl(h,s,l) */
h2, h3, h4, h5, h6 { 
  font-family: Open Sans; 
  color: hsl(214, 79%, 65%);
}

h1 { 
  font-family: Open Sans; 
  color: #0f4b70;
}

/* descendant combinator */
ol li {

}

/* child combinator */
figure > figcaption {

}

/* general sibling combinator */
p ~ nav {
  color: red;
}

/* adjacent sibling combinator */
p + aside {
  
}

/* combining two selectors */
div.quote {
}

